.logo,
.links a {
    text-transform: capitalize;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
}

.links a:hover,
.logo:hover {
    color: var(--first-color-alt);
    filter:var(--hover-text-shadow);
    -webkit-filter:var(--hover-text-shadow);
}